DJANGO_ENV=development
SECRET_KEY=replace-this-with-generated-secret-key
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000

DATABASE_URL=postgres://kplms_user:change-this-password@127.0.0.1:5432/kplms_db
DB_CONN_MAX_AGE=60

TIME_ZONE=Africa/Kigali

DEFAULT_FROM_EMAIL=no-reply@kplms.local

KPLMS_DEFAULT_STUDENT_PASSWORD=Kplms123
KPLMS_DEFAULT_STAFF_PASSWORD=Kplms123
KPLMS_MAX_IMPORT_FILE_SIZE_MB=5

KPLMS_MAX_REPORT_UPLOAD_SIZE_MB=10
KPLMS_ALLOWED_REPORT_EXTENSIONS=pdf,doc,docx,xls,xlsx,jpg,jpeg,png