{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}KP-HSLMS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
        crossorigin="anonymous"
    >

    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% block app_body %}
    {% include "partials/navbar.html" %}

    <div class="kp-shell">
        {% if request.user.is_authenticated %}
            {% include "partials/sidebar.html" %}
            <div class="kp-sidebar-backdrop" id="sidebarBackdrop"></div>
        {% endif %}

        <main class="kp-main">
            {% include "partials/messages.html" %}
            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
></script>

<script src="{% static 'js/layout/sidebar.js' %}"></script>

{% block extra_js %}{% endblock %}
</body>
</html>